{% extends '@HttpLog/base.html.twig' %}

{% block body %}
    <h1>Http Log</h1>
    <table class="http-log-table">
        <thead>
        <tr>
            <th>Url запроса</th>
            <th>Запрос</th>
            <th>Ответ</th>
            <th>Статус</th>
            <th>IP клиента</th>
            <th>Дата/время</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}
